src/C# port/XMLex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Plugins">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Plugin">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PlugName" type="xs:string" />
              <xs:element name="PlugLocation" type="xs:string" />
              <xs:element name="PlugIco" type="xs:string" />
              <xs:element name="PlugCompat" type="xs:decimal" />
              <xs:element name="PlugVer" type="xs:decimal" />
              <xs:element name="Stage" type="xs:unsignedByte" />
              <xs:element name="InputSection">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Input">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="xs:string" />
                          <xs:element name="Type" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>