src/C# port/XMLex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Plugins">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="PlugName" type="xs:string" />
          <xs:element name="PlugLocation" type="xs:string" />
          <xs:element name="PlugIco" type="xs:string" />
          <xs:element name="PlugVer" type="xs:decimal" />
          <xs:element name="Stage" type="xs:unsignedByte" />
          <xs:element name="InputSection">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Input">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="optional" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>